<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>m8_recu</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body>
  <div class="row">
<div class="small-12 large-expand columns logo">EXAMEN RECU M8-ALBERT</div>
<div class="medium-6 large-8 columns"></div>
<div class="small-12 large-expand columns">HOME</div>
<div class="small-12 large-expand columns">SERVICES</div>
</div>
<div class="imagen">
  <div class="texto1">
    <p>
      Unique Solutions
    </p>
  </div>
  <div class="texto2">
    <p>
      Breatures who have been utterly
    </p>
    <button style="background-color: transparent" >Learn More</button>
  </div>
  <div class="telefono">
<img src="images/phones.png" width="300" height="200" />
</div>
</div>
<div class="contenedor">
  <div class="texto3">
  <p>
    Pellentesque habitant morbi senectus et netus et malesuada fames adc turpis egestas
  </p>
  </div>
  <div class="texto4">
    <p>
      Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam , geugiat vitae , ultrices eger ,temport sit amet
    </p>
  </div>
</div>
<div class="footer">
  <div class="texto5">
  <h3>What We Offer</h3>
  <p>
    Look at some of the recent projects we have completed for our valuble clients
  </p>
  </div>
  <div class="row">
 <div class="small-12 large-expand columns parrafo1">
<h3>Web Design</h3>
<p>
  Pellentesqeu habitant morbi tristique senectus et netus et maslesuada fames ac turpis engestas. Vestibulum tortor quam , feugiat vitae,ultricies ege,tempopor sit amet ,ante.Donec eu libero sit amet quam egestas semper.Aenean ultrices mi vitae est.Mauris placerat eleifend leo.
</p>
 </div>
 <div class="small-12 large-expand columns parrafo2">
<h3>Graphic Design</h3>
<p>
  Pellentesqeu habitant morbi tristique senectus et netus et maslesuada fames ac turpis engestas. Vestibulum tortor quam , feugiat vitae,ultricies ege,tempopor sit amet ,ante.Donec eu libero sit amet quam egestas semper.Aenean ultrices mi vitae est.Mauris placerat eleifend leo.
</p>
 </div>
 <div class="small-12 large-expand columns parrafo3">
<h3>Email Marketing</h3>
<p>
  Pellentesqeu habitant morbi tristique senectus et netus et maslesuada fames ac turpis engestas. Vestibulum tortor quam , feugiat vitae,ultricies ege,tempopor sit amet ,ante.Donec eu libero sit amet quam egestas semper.Aenean ultrices mi vitae est.Mauris placerat eleifend leo.
</p>
 </div>
</div>
</div>



  <script src="js/bundle.js"></script>
</body>

</html>
